{% load static %}

<div class="ticket">

  {% if ticket.image %}
    <img alt="" src="{% static ticket.image %}"/>
  {% endif %}
  
  <div class="ticket__title">
    {{ticket.title}}
  </div>

  <div class="ticket__info">
    Le {{ticket.time_created.date}} à {{ticket.time_created.time}}
  </div>

  <div class="ticket__body">
    {{ticket.description}}
  </div>

  {% if ticket.user == request.user %}
    <div class="ticket__options">
      <a class="btn btn--warning" href="{% url 'edit_ticket' ticket.id %}">Modifier</a>
      <a class="btn btn--alert" href="{% url 'delete_ticket' ticket.id %}">Supprimer</a>
    </div>
  {% endif %}

</div>
