asgiref==3.5.2
Django==4.1
flake8==5.0.4
jedi==0.18.1
mccabe==0.7.0
parso==0.8.3
pluggy==1.0.0
pycodestyle==2.9.1
pyflakes==2.5.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.5.0
sqlparse==0.4.2
ujson==5.4.0
