$primary-color: rgb(50, 50, 150);
$primary-light-color: lighten($primary-color, 55%);
$primary-dark-color: rgb(0, 0, 120);
$secondary-color: #f9a03f;
$secondary-light-color: lighten($secondary-color, 55%);
$bg_grey: transparentize(black, 0.95);
