errorlist {
    color: red;
}

form {
    display: flex;
    flex-direction: column;    
    width: 75%;
    min-width: 400px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px grey;
    padding: 1em;
    margin: 1em;
    
    @include for-mobile {	
	max-width: 100%;
	min-width: 0;
	margin: 0;
    }
    
    margin-top: 2em;
    max-width: 30%;

    table {
	width: 100%;
    }
    
    input {
	margin: 1em 0 2em 0;
    }
    
    input[type="submit"] {
	font-weight: bold;
	
	background-color: $primary-color;
	color: white;
	
	padding: 1em;
	width: 75%;
	margin: auto;
	margin-bottom: 1em;
    }

    textarea {
	display: inline-block;
	width: 100%;
	border: 2px solid black;
    }
    
    input[type="text"], [type="password"], [type="email"], textarea {
	border: 2px solid black;
	padding: 0.5em;
	width: 100%;
	&:hover {
	    border: 2px solid $primary-color;
	}
    }
}

.form {
    &__group {
	display: flex;
	flex-direction: column;
	
	&__label {
	    width: 100%;
	    text-align: center;
	    font-family: Tahoma;
	    font-weight: bold;
	    margin-top: 1em;
	}

	&__field {
	    width: 50%;
	    margin: auto;
	}
    }    
}

