errorlist {
    color: red;
}

form {
    display: flex;
    flex-direction: column;    
    max-width: 40%;
    border: 1px solid black;
    box-shadow: 2px 2px 2px grey;
    padding: 1em;
    margin: 1em;

    
    margin-top: 2em;
    max-width: 30%;
	
    label {
	font-size: 1.2em;
	font-weight: bold;
    }
    
    input {
	margin: 1em 0 2em 0;
    }

    input[type="submit"] {
	padding: 1em;
	font-size: 1.2em;
	background-color: rgb(220, 220, 255);
	border: 2px solid $primary-color;
	border-radius: 5px;

	&:hover {
	    background-color: rgb(200, 200, 255);
	}
    }
    
    input[type="text"], [type="password"], [type="email"] {
	border: 1px solid $primary-dark-color;
	border-radius: 5px;
	padding: 0.5em;
    }
}
