.error-panel {
    box-shadow: 2px 2px 2px red;
    border: 1px solid red;
    padding: 1em;

    ul {
	list-style: none;
    }
    
    &__header {
	font-weight: bold;
	text-decoration: underline;
    }

    &__body {
	display: flex;
	flex-direction: column;
	list-style: none;
	
	&__error {
	    color: red;
	    margin-bottom: 1em;
	    
	    
	    &__logo {
		position: relative;
		float: left;
		top: -0.5em;
		margin: 0.2em;
		width: 24px;
		height: 24px;
	    }
	}
    }
}
