{% load static %}

{% if form.errors %}
  <div class="error-panel">
    {% for field, error in form.errors.items %}
      <div class="error-panel__header">
      </div>
      <div class="error-panel__body">
	<div class="error-panel__body__error">
	  <img class="error-panel__body__error__logo"
	       alt="",
	       src="{% static 'img/alert.png' %}"/>
	       {{error}}
	</div>
      </div>      
    {% endfor %}
  </div>
{% endif %}

<table class="form">
  {% for field in form %}
    <tr class="form__group">
      <td class="form__group__label">{{field.label}}</td>
      <td class="form__group__field">{{field}}</td>
    </tr>
  {% endfor %}
</table>
    
