{% load static %}
<div class="nav">
  
  <a href="{% url 'news_feed' %}">
    <img
      class="nav__logo"
      alt="LITReview"
      src="{% static 'img/logo.png' %}"/>
  </a>
  
  <ul>
    {% if user.is_authenticated %}
      <li><a href="{% url 'news_feed' %}">flux</a></li>
    <li><a href="{% url 'me' %}">publications</a></li>
    <li><a href="{% url 'social' %}">social</a></li>
    <li><a href="{% url 'logout' %}">déconnexion</a></li>
  {% else %}
      <li><a href="{% url 'login' %}">connexion</a></li>
    {% endif %}
  </ul>
</div>
