.login_page {
    h1 {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
    }
    
    form {
	margin: auto;
    }

    #signup_link {
	text-align: center;
	color: $primary-color;
	font-weight: bold;
    }
}
