.me_page {
    h1 {
	margin: 1em;
	text-align: center;
    }

    h2 {
	margin: 1em;
	text-align: center;
	border-bottom: 1px solid black;
    }
    
    .container {
	display: flex;
	flex-direction: row;
	width: 100%;

	@include for-mobile {
	    flex-direction: column;
	    width: 100%;
	}
	
	&__ticket_part {
	    width: 50%;

	    @include for-mobile {
		width: 100%;
	    }

	}

	&__review_part {
	    width: 50%;
	    
	    @include for-mobile {
		width: 100%;
	    }

	}
    }

    .reviews {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	&__review {
	    display: inline-block;
	    margin: auto;
	    width: 40%;
	    min-width: 30%;
	    padding: 1em;
	    margin-bottom: 2em;
	    background-color: $primary-light-color;
	    border-radius: 15px;
	    box-shadow: 2px 2px 2px grey;
	    
	    @include for-mobile {
		width: 80%;
	    }

	    &__date {
		font-size: 0.8em;
		color: grey;
	    }
	    
	    &__title {
		display: flex;
		
		@include for-mobile {
		    flex-direction: column;
		}
		
		&__name {
		    display: inline-block;
		    flex-grow: 1;
		    color: $primary-color;
		    font-weight: bold;
		    font-size: 1.5em;
		    text-align: center;
		}
		
		&__rating {
		    color: black;
		    font-weight: bold;
		    font-size: 2em;
		    margin-left: 0.5em;
		    
		    &__over_five {
			font-weight: normal;
			font-size: 0.5em;
		    }
		}
	    }
	    
	    &__ticket {
		&__body {
		    background-color: lighten($primary-color, 60%);
		}
	    }

	    &__content {
		box-shadow: 2px 2px 2px grey;
		
		&__headline {
		    margin-top: 1em;
		    font-size: 1.5em;
		    color: white;
		    background-color: $primary-color;
		    padding: 0.5em;
		}
		
		&__body {		
		    text-align: justify;
		    margin-bottom: 1em;
		    padding: 1em;
		    background-color: lighten($primary-color, 60%);
		}
	    }
	}
    }

    .tickets {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	&__ticket {
	    background-color: $primary-light-color;
	    padding: 2em;
	    margin: auto;
	    margin-bottom: 2em;
	    border-radius: 15px;
	    box-shadow: 2px 2px 2px grey;

	    &__date {
		position: relative;
		top: -1em;
		font-size: 0.8em;
		color: grey;
	    }

	    &__content {
		box-shadow: 2px 2px 2px grey;

		margin-bottom: 1em;
		
		&__title {
		    background-color: $primary-color;
		    color: white;
		    font-size: 1.5em;
		    text-align: center;
		    padding: 0.5em;
		}

		&__body {
		    padding: 1em;
		    text-align: justify;
		    background-color: lighten($primary-color, 60%);
		}
	    }
	}
    }
}
