.me_page {    
    h1 {
	margin: 1em;
	text-align: center;
    }

    h2 {
	border-bottom: 1px solid grey;
	text-align: center;
    }
    
    .publications {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 50%;

	&__item {
	    margin-bottom: 2em;
	}
    }        
}
