.me_page {
    $bg_grey: transparentize(black, 0.95);
    
    h1 {
	margin: 1em;
	text-align: center;
    }

    h2 {
	border-bottom: 1px solid grey;
	text-align: center;
    }
    
    .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	width: 50%;
	
	.reviews {	    
	    .review {
		background-color: $bg-grey;
		display: inline-block;
		padding: 0.1em;
		padding-left: 0.5em;
		margin: 1em 1em 1em 0;

		width: 100%;
		height: 100%;

		.ticket {
		    border-left: 2px solid  $primary-color;;
		    background-color:  $primary-light-color;
		}
		
		&__info {
		    color: grey;
		}
		
		&__header {
		    display: flex;
		    flex-direction: center;
		    padding: 0.2em;
		    font-weight: bold;
		    
		    &__stars {
			margin: 0.2em;
			margin-right: 1em;
			img {
			    width: 12px;
			}
		    }
		    
		    &__headline {
			text-decoration: underline;
		    }
		}	    
		
		&__body {
		    padding: 1em;
		}

		&__options {
		    display: none;
		}

		&:hover {
		    .review__options {
			display: flex;
		    }
		}
	    }
	}
    }
    
    .ticket {
	margin: 0.5em 0.5em 0.5em 0;
	padding: 0.5em;
	background-color: $bg-grey;
	
	img {
	    float: left;
	    margin: 1em;
	    width: 32px;
	    height: 32px;
	}
	
	&__title {
	    font-weight: bold;
	    text-decoration: underline;
	}

	&__info {
	    color: grey;
	    font-size: 0.85em;
	}
	
	&__body {
	    text-align: justify;
	}

	&__options {
	    display: none;
	}

	&:hover {
	    .ticket__options {
		display: flex;
	    }
	}
    }
}
