{% extends 'base.html' %}
{% load static %}

{% block body %}
  
  <div id="me_page" class="me_page">
    <h1>Mes publications</h1>

    <div class="publications">      
      {% for item in items %}

	<div class="publications__item">
	  {% if item.type == 'review' %}
	    {% include 'publication/review.html' with review=item.obj %}
	  {% else %}
	    {% include 'publication/ticket.html' with ticket=item.obj %}
	  {% endif %}
	</div>
	
      {% endfor %}
      
    </div>
  </div>  
{% endblock %}
