{% extends 'base.html' %}

{% block body %}
  <div id="me_page" class="me_page">
    <h1>Mes publications</h1>

    <a class="btn" href="#my_tickets">Tickets</a>
    <a class="btn" href="#my_reviews">Critiques</a>

    <a class="btn btn--fixed" href="#me_page">Revenir en haut</a>

    <div class="container">
      <div class="container__review_part">
	<h2 id="my_reviews">Mes critiques</h2>
	
	<div class="reviews">
	  {% for review in reviews %}
	    <div class="reviews__review">
	      
	      <div class="reviews__review__date">
		Le {{review.time_created.date}} à {{review.time_created.time}}
	      </div>
	      
	      <div class="reviews__review__title">
		<div class="reviews__review__title__name">
		  {{review.ticket.title}}
		</div>	    

		<div class="reviews__review__title__rating">
		  {{review.rating}}<span class="reviews__review__title__rating__over_five">/5</span>
		</div>	    
	      </div>

	      <div class="reviews__review__ticket">
		<em>
		  En réponse à {{review.ticket.user.username}}
		  ({{review.ticket.time_created.date}}),
		</em>
		
		<div class="reviews__review__ticket__body">
		  {{review.ticket.description}}
		</div>

	      </div>

	      <div class="reviews__review__content">
		<div class="reviews__review__content__headline">{{review.headline}}</div>
		<div class="reviews__review__content__body">{{review.body}}</div>
	      </div>
	      
	      <a class="btn" href="{% url 'edit_review' review.id%}">Modifier</a>
	      <a class="btn" href="#">Supprimer</a>
	    </div>
	  {% endfor %}
	</div>
      </div>
      <div class="container__ticket_part">
	<h2 id="my_tickets">Mes Tickets</h2>
	<div class="tickets">
	  {% for ticket in tickets %}
	    <div class="tickets__ticket">

	      <div class="tickets__ticket__date">
		Le {{ticket.time_created.date}} à {{ticket.time_created.time}}
	      </div>
	      
	      <div class="tickets__ticket__content">
		<div class="tickets__ticket__content__title">{{ticket.title}}</div>
		<div class="tickets__ticket__content__body">{{ticket.description}}</div>
	      </div>
	      
	      <a class="btn" href="{% url 'edit_ticket' ticket.id%}">Modifier</a>
	      <a class="btn" href="#">Supprimer</a>	      
	    </div>	      
	  {% endfor %}
	</div>	  
      </div>
    </div>    
  </div>  
{% endblock %}
