{% extends 'base.html' %}

{% block body %}
  <div class="social_page">
    <h2>
      Vous avez <em>{{n_followings}}</em>
      abonnement{% if n_followings > 1 %}s{% endif %} et <em>{{n_followers}}</em>
      abonné{% if n_followers > 1 %}s{% endif %} !
    </h2>
    
    <div class="social">
      <form class="social__form">
	{% csrf_token %}
	<div class="social__header">
	  <div class="social__header__search">
	    <input type="text" name="username" placeholder="nom d'utilisateur"/>
	    <input type="submit" value="rechercher"/>
	  </div>
	  <div class="social__header__filters">
	    <div>
	      <input name="user_filter"
		     value="all"
		     type="radio" checked/> <label>Tous</label>
	    </div>
	    <div>
	      <input name="user_filter"
		     value="followers"
		     type="radio"/> <label>Abonnés</label>
	    </div>
	    <div>
	      <input name="user_filter"
		     value="followings"
		     type="radio"/> <label>Abonnements</label>
	    </div>
	  </div>
	</div>
      </form>
      
      <div class="social__body">
	<ul>
	  {% for user_info in users %}
	    <li>
	      <form method="post">
		{% csrf_token %}
		<label>{{user_info.user.username}}</label>

		{% if user_info.following %}		  
		  <input type="hidden" name="user" value="{{user_info.user.id}}"/>
		  <input class="btn" type="submit" value="ne plus suivre"/>		  
		{% else %}
		  <input type="hidden" name="user" value="{{user_info.user.id}}"/>
		  <input class="btn" type="submit" value="suivre"/>
		{% endif %}
		
	      </form>
	    </li>
	  {% endfor %}
	</ul>
      </div>
    </div>

    
  </div>  
{% endblock %}
